.scroll-container {
  background: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal-wrapper {
  position: relative;
  height: 100vh;
  overflow: visible;
}

.horizontal-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  z-index: 10;
  padding-left: 209vh;
  will-change: transform;
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* First panel fixed for desktop/tablet */
.panel.black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem;
  box-sizing: border-box;
  font-size: 4rem;
  background: #000;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}


@media screen and (max-width: 1024px) {
  .horizontal-wrapper {
    position: relative;
    height: 100vh;
    overflow: visible;
  }

  .horizontal-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 120vh;
    z-index: 10;
    padding-left: 86vh;
    will-change: transform;
  }
}

/* --- Mobile fallback --- */
@media screen and (max-width: 768px) {
  /* .scroll-container {
    height: 0;
    overflow-y: visible;
  } */

  .horizontal-container {
    flex-direction: column;
    width: 100vh;
    padding-left: 0;
  }

  .panel.black {
    position: relative;
    font-size: 3rem;
  }

  .panel {
    height: 100vh;
  }

  .scroll-img {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  /* .scroll-container {
    height: 0;
    overflow-y: visible;
  } */

  .horizontal-container {
    flex-direction: column;
    width: 100vh;
    padding-left: 0;
    padding-top: 50px;
  }

  .panel.black {
    position: relative;
    font-size: 3rem;
  }

  .panel {
    height: 100vh;
  }

  .scroll-img {
    width: 70%;
    height: auto;
  }
}