    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: #000000;
      color: #fff;
      font-family: 'Inter', Arial, sans-serif;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }


    #backToTop {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 40px;
      z-index: 99;
      font-size: 22px;
      border: 1px solid black;
      outline: none;
      background-color: #fcfcfc;
      color: rgb(0, 0, 0);
      cursor: pointer;
      padding: 10px 14px;
      border-radius: 50%;
      transition: opacity 0.3s;
    }

    #backToTop:hover {
      background-color: grey;
    }